
* {
    /* background-image: url('Path.png');
    background-size: cover; */
    margin: 0;
    padding: 0;
}

.img_back {
    position: absolute;
    width: 1000px;
    height: 850px;
    margin-bottom: 0;
    margin-left: 35%;
}



body {
    overflow-x: hidden;
    background-repeat: repeat-x;
    background-position: right top;
}

.header {
    display: inline-block;
}

.header .menu {
    padding: 22px 200px;
}

.header .menu a {
    margin: 25px;
    font-family: "Fredoka", sans-serif;
    text-decoration: none;
    color: #505F98;
    font-weight: 500;    
}

.nav .button_nav {
    position: absolute;
    left: 1190px;
    top: 22px;
} 

.button_nav {
    position: absolute;
    width: 160px;
    height: 26px;
    background-color: #111B47;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav .logo {
    position: absolute;
    width: 95px;
    height: 38px;
    left: 750px;
    top: 16px;

}

.logo {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #37447E;
}

.image img {
    
    position: absolute;
    width: 580.03px;
    height: 650px;
    left: 62%;
    margin-top: 9%;
    
}

.center {
    position: relative;
    margin-top: 200px;
    margin: 20px;
}

.bold {
    position: relative;
    top: 125px;
    margin-left: -13.5%;
    font-family: 'Fredoka',sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.h1 {
    position: relative;
    top: 120px;
    font-family: 'Fredoka',sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: -13.5%;
}

.btn1 {
    position: absolute;
    top: 120px;
    color: #FFFFFF;
    background-color: #111B47;
    width: 160px;
    height: 30px;
    border: none;
    margin-left: -13.5%;
    cursor: pointer;
    border-radius: 5px;
}

.btn2 {
    position: absolute;
    top: 120px;
    color: #37447E;
    background-color: #FFFFFF;
    border-color: #37447E;
    width: 160px;
    height: 30px;
    margin-left: 20%;
    cursor: pointer;
    border-radius: 5px;
}

.h_text1 {
    position: absolute;
    margin-top: 45%;
    font-size: 50px;
    margin-left: 9%;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.h_text2 {
    position: absolute;
    margin-top: 50%;
    margin-left: 9%;
    font-size: 19px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.img {
    position: absolute;
    margin-top: 35%;
    margin-left: 55%;
}

.center1 {
    margin-top: -0.5%;
}

.img1 {
    position: absolute;
    margin-top: 59%;
    margin-left: 9%;
}

.img2 {
    position: absolute;
    margin-top: 59%;
    margin-left: 26%;
}

.text_i1 {
    position: absolute;
    margin-top: 62%;
    margin-left: 9%;
} 

.text_i2 {
    position: absolute;
    margin-top: 62%;
    margin-left: 26%;
}


.hi1, .hi3 {
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
}

.hi2, .hi4 {
    font-size: 12px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.text_2 {
    position: absolute;
    margin-top: 85%;
    margin-left: 57%;
    font-size: 19px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    
}

.text_1 {
    position: absolute;
    margin-top: 80%;
    margin-left: 57%;
    font-size: 50px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    
}

.img3 {
    position: absolute;
    margin-top: 78%;
    margin-left: 10%;
}

.center2 {
    margin-top: 9%;
}

.text_3 {
    position: absolute;
    margin-top: 1800px;
    margin-left: 57%;
    font-size: 50px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
       
}

.text_4 {
    position: absolute;
    margin-top: 1875px;
    margin-left: 57%;
    font-size: 19px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
       
}

.center3 {
    margin-top: 9%;
}

.img4 {
    position: absolute;
    margin-top: 1720px;
    margin-left: 10%;
}

.text_5 {
    position: absolute;
    margin-top: 2400px;
    margin-left: 57%;
    font-size: 50px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.text_6 {
    position: absolute;
    margin-top: 2478px;
    margin-left: 57%;
    font-size: 19px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

.img5 {
    position: absolute;
    margin-top: 2390px;
    margin-left: 10%;   
}

.button_now {
    position: absolute;
    margin-top: 2650px;
    margin-left: 57%;
    border: none;
    background-color: #111B47;
    color: #FFFFFF;
    width: 150px;
    height: 24px;
    cursor: pointer;
    border-radius: 5px;
}


.img6 {
    position: absolute;
    margin-top: 2930px;
    width: 2000px;
    height: 820px;
    background-size: cover;
}

.text_center {
    position: absolute;
    margin-top: 3150px;
    margin-left: 565px;
    font-family: "Fredoka", sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.tomen {
    position: absolute;
    margin-top: 3210px;
    margin-left: 480px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.purch {
    position: absolute;
    margin-top: 3340px;
    margin-left: 722px;
    text-align: center;
}

.dollar {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.Ui {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.button_top {
    position: absolute;
    margin-top: 3480px;
    margin-left: 671px;
    text-align: center;
    border-radius: 5px;
}

.button_m {
    margin-top: 11px;
    width: 189px;
    height: 24px;
    background-color: #111B47;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tom {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.h8 {
    position: absolute;
    margin-top: 3800px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-left: 165px;
    font-weight: 300;
    color: #929ECC;
}

.logo1 {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #111B47; 
    margin-top: 3790px;
    margin-left: 710px;
}

.button_s {
    position: absolute;
    margin-top: 3795px;
    width: 109px;
    height: 26px;
    font-size: 12px;
    background-color: #111B47;
    color: #FFFFFF;
    border: none;
    margin-left: 1206px;
    cursor: pointer;
    border-radius: 5px;
}


.nav6 {
    position: absolute;
    margin-top: 3880px;
    margin-left: 135px;
}

.nav_link1 {
    margin: 30px;
    text-decoration: none;
    color: #929ECC;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

hr {
    position: absolute;
    color: #929ECC;
    width: 1145px;
    height: -1px;
    border: 2px solid;
    margin-top: 3860px;
    margin-left: 166px;
}

.fa-facebook-f {
    position: absolute;
    font-size: 16px;
    margin-top: 3880px;
    margin-left: 1075px;
}

.fa-linkedin-square {
    position: absolute;
    font-size: 16px;
    margin-top: 3880px;
    margin-left: 1121px;
}

.fa-twitter {
    position: absolute;
    font-size: 16px;
    margin-top: 3880px;
    margin-left: 1167px;
}

.fa-youtube-play {
    position: absolute;
    font-size: 16px;
    margin-top: 3880px;
    margin-left: 1213px;
}

.fa-instagram {
    position: absolute;
    font-size: 16px;
    margin-top: 3880px;
    margin-left: 1259px;
}

.icon {
    position: absolute;
    margin-left: 41px;
}

